.myNavBar {
    box-shadow: 10px 10px;
    background-color: #002D62;
    width: 100%-42px;
    padding: 20px 20px 20px 20px;
    height: 6vh;

    /* height: 10%; */

}



body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Rubik", sans-serif;
    width: 100%;
}

.myNavBar a {

    color: white;
    padding-left: 50px;
}

.nameDiv {
    width: 50%;
    display: inline;
}

.nameDiv .name {
    display: inline;
    font-weight: 400;
    color: white;
}

.links {
    margin-left: 45%;
    display: inline;
    color: antiquewhite;
    width: 20%;
}

.landing {
    margin: 20px;
    background-color: white;
    height: 100vh;
    width: 100%-40px;
    padding: 20px;
    font-weight: 300;
    color: black;
}

.landing .bodyName {
    color: #002D62;
}

.hello {
    margin: 0;
    font-size: 60px;
    font-weight: 400;
}

.designation {
    font-size: 50px;
}

.content {
    margin-top: 150px;
    text-align: center;
    font-size: 30px;
    font-weight: 200;
}

.landing .imglaptop {
    margin-bottom: 40px;
    float: left;
    background-size: cover;
    margin-right: 40px;
    height: 500px;
    width: 50%;
    object-fit: cover;
}

.companyName {
    color: #002D62;
    font-size: 60px;
    font-weight: 400;
}

.bottom {
    clear: both;
    background-color: #002D62;
    height: 80px;
    width: 100%-40px;
}



.bottom .bottomline {
    padding: 30px 40px 20px 20px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    color: white;
}

.MySkills {
    width: 100%;
    margin: 0;
    height: 800px;
    background-color: whitesmoke;
}

.projects {
    width: 100%;
    margin: 0;
    height: 800px;
    background-color: white;
}

.projects h1 {
    padding-top: 50px;
    text-align: center;
    margin: 0;
    color: black;
}

.MySkills h1 {
    padding-top: 50px;
    text-align: center;
    margin: 0;
    color: black;
}